# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env
.env.local

# Logs
*.log

# Node
node_modules/

# React/Vite
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Cache
.cache/
.pytest_cache/


venv/
node_modules/
dist/
.env
__pycache__/
*.pyc