# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Environment Variables
.env

# Uploaded Files
uploads/

# Extracted Papers
extracted/

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

